[package]
name = "value-trait"
version = "0.2.13-alpha.0"
authors = ["Heinz N. Gies <heinz@licenser.net>"]
edition = "2021"
license = "Apache-2.0/MIT"
description = "Traits to deal with JSONesque values"
repository = "https://github.com/simd-lite/value-trait"
readme = "README.md"
documentation = "https://docs.rs/value-trait"
rust-version = "1.59"


[dependencies]
itoa = "1"
ryu = "1"
halfbrown = { version = "0.1", optional = true }
float-cmp = "0.9"
hashbrown = { version = "0.12", optional = true }
abi_stable = { version = "0.10.3", optional = true, default-features = false }

[features]
default = ["custom-types", "halfbrown"]
# Support for 128 bit integers
128bit = []

# Support for custom types
custom-types = []

# Support for abi-stable's `StableAbi` implementation
c-abi = ["abi_stable"]
